#footer {
bottom:0;
}

body {
    background-color: goldenrod
}

#sureTing {
    font-family:'Courier New', Courier, monospace;
    font-style:italic;
    font-weight: bold;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: lighter;
}

#camera {
    height: 400px;
    width: 500px;
    border-color: blueviolet;
}

img {
    width: 200px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 5px 5px 5px mediumseagreen;
}

.column{
    display:inline;
    padding: 10px;
}